In [1]:
import pandas as pd
import numpy as np


data = pd.read_csv("iris.csv")
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [3]:
data_iris = data.rename({'5.1':'panjang_sepal',
                         '3.5':'lebar_sepal',
                         '1.4':'panjang_petal',
                         '0.2':'lebar_petal',
                         'Iris-setosa':'species'}, axis='columns')

In [4]:
data_iris

     panjang_sepal  lebar_sepal  panjang_petal  lebar_petal         species
0              4.9          3.0            1.4          0.2     Iris-setosa
1              4.7          3.2            1.3          0.2     Iris-setosa
2              4.6          3.1            1.5          0.2     Iris-setosa
3              5.0          3.6            1.4          0.2     Iris-setosa
4              5.4          3.9            1.7          0.4     Iris-setosa
..             ...          ...            ...          ...             ...
144            6.7          3.0            5.2          2.3  Iris-virginica
145            6.3          2.5            5.0          1.9  Iris-virginica
146            6.5          3.0            5.2          2.0  Iris-virginica
147            6.2          3.4            5.4          2.3  Iris-virginica
148            5.9          3.0            5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [5]:
X = data_iris.drop(["species"], axis = 1)
y = data_iris["species"]

In [6]:
X.head()

   panjang_sepal  lebar_sepal  panjang_petal  lebar_petal
0            4.9          3.0            1.4          0.2
1            4.7          3.2            1.3          0.2
2            4.6          3.1            1.5          0.2
3            5.0          3.6            1.4          0.2
4            5.4          3.9            1.7          0.4

In [7]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: species, dtype: object

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.2,
    random_state = 123
)
X_train

     panjang_sepal  lebar_sepal  panjang_petal  lebar_petal
129            7.4          2.8            6.1          1.9
119            6.9          3.2            5.7          2.3
29             4.8          3.1            1.6          0.2
0              4.9          3.0            1.4          0.2
62             6.1          2.9            4.7          1.4
..             ...          ...            ...          ...
17             5.7          3.8            1.7          0.3
98             5.7          2.8            4.1          1.3
66             5.8          2.7            4.1          1.0
126            6.1          3.0            4.9          1.8
109            6.5          3.2            5.1          2.0

[119 rows x 4 columns]

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

x_train = scaler.transform(X_train)
x_test = scaler.transform(X_test)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [11]:
y_pred = knn.predict(x_test)

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        13
Iris-versicolor       0.75      1.00      0.86         6
 Iris-virginica       1.00      0.82      0.90        11

       accuracy                           0.93        30
      macro avg       0.92      0.94      0.92        30
   weighted avg       0.95      0.93      0.93        30

# MENGUJI MODEL

In [17]:
prediksi = knn.predict([[4.9, 3.0, 1.4, 0.2]])
print("Hasil Prediksi Jenis Bunga Adalah : ", prediksi)

Hasil Prediksi Jenis Bunga Adalah :  ['Iris-virginica']