In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
datasets = pd.read_csv('Iklan_sosmed.csv')
datasets.head(20)

     User ID    Kelamin  Usia  EstimasiGaji  Beli
0   15624510       Laki    19         19000     0
1   15810944       Laki    35         20000     0
2   15668575  Perempuan    26         43000     0
3   15603246  Perempuan    27         57000     0
4   15804002       Laki    19         76000     0
5   15728773       Laki    27         58000     0
6   15598044  Perempuan    27         84000     0
7   15694829  Perempuan    32        150000     1
8   15600575       Laki    25         33000     0
9   15727311  Perempuan    35         65000     0
10  15570769  Perempuan    26         80000     0
11  15606274  Perempuan    26         52000     0
12  15746139       Laki    20         86000     0
13  15704987       Laki    32         18000     0
14  15628972       Laki    18         82000     0
15  15697686       Laki    29         80000     0
16  15733883       Laki    47         25000     1
17  15617482       Laki    45         26000     1
18  15704583       Laki    46         28000     1
19  15621083  Perempuan    48         29000     1

In [4]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User ID       404 non-null    int64
 1   Kelamin       404 non-null    object
 2   Usia          404 non-null    int64
 3   EstimasiGaji  404 non-null    int64
 4   Beli          404 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.9+ KB

In [5]:
X = datasets.iloc[:,[2, 3]].values
y = datasets.iloc[:, 4].values

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X,y,
    test_size = 0.25,
    random_state = 0
)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
from sklearn.linear_model import LogisticRegression
model_RGL = LogisticRegression(random_state=0)
model_RGL.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
y_pred = model_RGL.predict(X_test)

In [10]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.91      0.87        64
           1       0.81      0.70      0.75        37

    accuracy                           0.83       101
   macro avg       0.83      0.80      0.81       101
weighted avg       0.83      0.83      0.83       101

In [11]:
data_uji = [[19, 20000],
           [32, 150000],
           [49, 29000]]

data_uji = sc.fit_transform(data_uji)
data_uji

array([[-1.16685951, -0.78166404],
       [-0.10854507,  1.41149406],
       [ 1.27540458, -0.62983002]])

In [19]:
prediksi = model_RGL.predict([[-1.16685951, -0.78166404]])

In [20]:
if prediksi == 1:
    print(prediksi, "Clien Membeli Mobil")
else:
    print(prediksi, "Clien Tidak Membeli Mobil")

[0] CLien Tidak Membeli Mobil