In [37]:
panjang = 80 #tipe data integer
lebar = 25 # tipe data float
nama_bangunan = "Subsidi" #tipe data string

print(panjang)
print(lebar)
print(nama_bangunan)

80
25
Subsidi

In [1]:
print(True)

True

In [5]:
a = True
#mengecek tipe data 
type(a)

bool

In [10]:
x = 4
if x % 2 == 0:
    print("x adalah Genap")

x adalah Genap

In [35]:
x = 'Hello STMIK Lombok'
y = 'Hello Kampusku'

print("Type data x", type(x))
print("Type data x", type(y))

Type data x <class 'str'>
Type data x <class 'str'>

In [13]:
nilai_x = 45
nilai_y = 52.056788
print("Jenis Tipe Data x adalah : ", type(nilai_x))
print("Jenis Tipe Data y adalah : ", type(nilai_y))

Jenis Tipe Data x adalah :  <class 'int'>
Jenis Tipe Data y adalah :  <class 'float'>

In [17]:
angka = [1, 2, 3, 4, 5]
buah = ("Apel","Jeruk","Melon")
print("Jenis Tipe Data variabel angka adalah : ", type(angka))
print("Jenis Tipe Data variabel buah adalah : ", type(buah))

Jenis Tipe Data variabel angka adalah :  <class 'list'>
Jenis Tipe Data variabel buah adalah :  <class 'tuple'>

In [1]:
nama_dosen = {1001:'Saikin', 1002:'Ali',1003:'Wafia'} 
#cek tipe data
print("Jenis tipe data variabel nama_dosen  : ", type(nama_dosen))

Jenis tipe data variabel nama_dosen  :  <class 'dict'>

In [3]:
#print("Daftar Nama Dosen", nama_dosen)
print("Nama Dosen dengan kode adalah : ",nama_dosen[1001])

Nama Dosen dengan kode adalah :  Saikin

In [4]:
# Ambil input untuk mengisi nilai
a = int(input("Inputkan nilai a: "))
b = int(input("Inputkan nilai b: "))

# Menggunakan operator penjumlahan
c = a + b
print ("Hasil %d + %d = %d" % (a,b,c))

# Operator Pengurangan
c = a - b
print ("Hasil %d - %d = %d" % (a,b,c))

# Operator Perkalian
c = (a * b)
print ("Hasil %d * %d = %d" % (a, b, c))

Inputkan nilai a: 45
Inputkan nilai b: 72
Hasil 45 + 72 = 117
Hasil 45 - 72 = -27
Hasil 45 * 72 = 3240

In [109]:
#Menambahkan nilai x dengan operator penugasan
x = int(input("Inputkan nilai x: "))
print ("Nilai x = %d" % x)

x += 1
print("x = %d " % x)

Inputkan nilai x: 10
Nilai x = 10
x = 11